{
  "_ga": "GA1.1.573193689.1780933125",
  "_ym_uid": "178172800816163693",
  "_ym_d": "1781728008",
  "_ym_isad": "2",
  "city_id": "32",
  "city_name": "Калуга",
  "country_id": "1",
  "country_title": "Россия",
  "city_map": "yandex",
  "currency": "₽",
  "slug": "klg"
}